
.pieContainer {
  /*height: 300px;*/
  padding: 20px;
  /*width: 500px;*/
}

.seriesContainer {
  padding: 20px;
}

.chartContainer {
}

.summaryContainer {
  padding: 20px;
  margin-bottom: 40px;
}

.flexContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  transition: width 1s;
}

.flexCol {
  padding: 20px;
}

@media (max-width: 1000px) {
  .flexContainer {
    flex-direction: column;
    transition: 1s;
  }
}