.mainContainer {
  border-top: 1px solid grey;
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.likesContainer {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  color: grey;
  align-items: center;
}

.imageContainer {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
}

.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.likesButtonContainer {
  display: flex;
}

.likesButtonContainer path {
  stroke: grey;
  fill: grey;
  cursor: pointer;

}

/* both css below are different one is comments one is comment */
.commentsContainer {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.commentContainer {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.textContainer {
  display: table;
  margin-left: 2%;
  background-color: rgb(238, 238, 238);
  border-radius: 1rem;
  padding: 5px 10px 5px 10px;
}

.commentName {
  color: grey;
  padding-right: 15px;
  text-decoration: none !important;
}

.textContainer>a:hover {
  text-decoration: none !important;
}

.commentsInputContainer {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  /*background: #81ec8f;*/
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #81ec8f;
}

.commentsInputContainer > textarea {
  margin-left: 5%;
  /*padding-top: 10px;*/
  height: 40px;
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  display: flex;
  overflow:hidden;
  resize: none;
}

.commentsInputContainer > textarea:focus {
  outline: none;
}

.commentTextContainer {
  /*padding: 0px 5px 5px 5px;*/
  max-width: 23rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* this is for svg should prob be bubbled out later */
.svgContainer {
  margin: 10px;
  fill: red;
}

.heartIcon {
  fill: red;
  stroke: black;
  stroke-width: 1px;
  width: auto;
  height: 20px;
  color:red;
  opacity: 10;
}

.commentIcon {
  margin-left: -20px;
  margin-top: 2px;
}

.shareIcon {
  width: auto;
  height: 30px;
}
