
.home {
  background-color: rgb(250, 250, 250);
  height: 100%;
}

.homeContainer {
  margin-top: 5%;
}

#feedContainer {
  margin-left: 10%;
}

#shareContainer {
  width: 18rem !important;
  border-radius: 5%;
}

#shareForm {
  width: 100%;
}

.postContainer {
  background-color: white;
  width: 30rem;
  margin-bottom: 5%;
}

.bold {
  font-weight: bold;
}

.grey {
  color: grey;
}

.edit {
  cursor: pointer;
  color: blue;
}

.postImage {
  width: 50%;
  height: 50%;
}