

body, html {
  height: 100%;
}

.home {
  background-color: rgb(250, 250, 250);
  height: 100vh;
}

.homeContainer {
  margin-top: 5%;
}

#feedContainer {
  margin-left: 10%;
}

#shareContainer {
  width: 18rem !important;
  border-radius: 5%;
}

#shareForm {
  width: 100%;
}

.postContainer {
  background-color: white;
  width: 30rem;
  margin-bottom: 5%;
}

.postImage {
  width: 50%;
  height: 50%;
}

/*Global classes im not sure where to put this*/
.bold {
  font-weight: bold;
}

.grey {
  color: grey;
}

.edit {
  cursor: pointer;
  color: #2295ff;
  text-decoration: underline;
  /*border: 2px solid lightgrey;*/
  /*border-radius: 5px;*/
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
  /*box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.05);*/
  font-size: 14px;
}

.shadowSmall {
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.05);
}

.shadowMedium {
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.1);
}

.shadowLarge {
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.2);
}

.spendrCard {
  background: #FFFFFF;
  border-radius: 10px;
}

.clickable {
  cursor: pointer;
}