nav.main {
  background: rgb(255, 255, 255);
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 10;
}

.searchResults {
  background-color: rgb(244, 244, 244);
  position: relative;
  top: -30px;
  left: 15px;
  /* padding: 30px 20px 10px 20px; */
  padding-top: 20px;
  z-index: 1;
  flex-direction: column;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.searchUser {
  display: block;
  text-decoration: none !important;
  color: green;
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

.searchText {
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

.title {
  margin-top: 15px;
  color: black;
  text-decoration: none;
}

.main > a:hover {
  color: black;
  text-decoration: none;
}

.linkDefault {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.linkActive {
  color: rgb(0, 156, 47);
}

.faBars {
  display: none;
  color: rgb(0, 0, 0);
}

.navBlock {
  display: flex;
  align-items: center;
  margin-left: 20px;
  white-space: nowrap;
}

.navBlock > a:hover {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .faBars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 10;
  }

  .navBlock {
    display: none;
  }

  #navText {
    display: none;
  }

  label:before {
    display: none;
  }
  .searchResults {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .popOutNav {
    display: none;
  }
}

#navText {
  width: 100%;
  padding: 10px 40px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
  border-radius: 100px;
  outline-width: 0;
  border: 0;
}

.searchBar {
  position: relative;
  z-index: 5;
}

.searchBar:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 25px;
  top: 20px;
  bottom: 7px;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg width='22' height='25' viewBox='0 0 22 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6992 20.7516L17.4152 16.0781C17.2219 15.8672 16.9598 15.75 16.6848 15.75H15.9844C17.1703 14.0953 17.875 12.0141 17.875 9.75C17.875 4.36406 13.8746 0 8.9375 0C4.00039 0 0 4.36406 0 9.75C0 15.1359 4.00039 19.5 8.9375 19.5C11.0129 19.5 12.9207 18.7313 14.4375 17.4375V18.2016C14.4375 18.5016 14.5449 18.7875 14.7383 18.9984L19.0223 23.6719C19.4262 24.1125 20.0793 24.1125 20.4789 23.6719L21.6949 22.3453C22.0988 21.9047 22.0988 21.1922 21.6992 20.7516ZM8.9375 15.75C5.89961 15.75 3.4375 13.0688 3.4375 9.75C3.4375 6.43594 5.89531 3.75 8.9375 3.75C11.9754 3.75 14.4375 6.43125 14.4375 9.75C14.4375 13.0641 11.9797 15.75 8.9375 15.75Z' fill='black' fill-opacity='0.2'/%3E%3C/svg%3E")
    center / contain no-repeat;
}

.popOutlinkActive {
  color: rgb(121, 64, 255);
}

.popOutNavlink {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 20px;
  height: 50px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.popOutNav > a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.popOutNav {
  padding-top: 80px;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  background-color: rgb(54, 54, 54);
  z-index: 1;
}

.side-enter {
  right: -500px;
}

.side-enter.side-enter-active {
  right: 0px;
  transition: right 300ms ease-in;
}

.side-leave {
  right: 0px;
}

.side-leave.side-leave-active {
  right: -500px;
  transition: right 300ms ease-in;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 6969;
}
