.profileContainer {
  background: #FFFFFF;
  border-radius: 10px;
  width: calc(350px + 10vw);
  min-height: 200px;
  margin: calc(50px + 8vh) auto auto;
  position: relative;
  padding: 20px;
}

.profilePicture {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -50px;

}

.profileStatsContainer {
  padding-top: 10px;
  text-align: center;
  color: grey;
  float: right;
}

.profileStatsContainer > .col {
  padding-left: calc(5px + 1vw);
  padding-right: 0;
}

.profileStatsNumber {
	font-weight: bold;
    line-height: 15px;
}

.profileName {
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
}

.profileUserName {
  font-size: 20px
}

.infoContainer {
  padding-top: 40px;

}

.descriptionContainer {
  margin-top: 10px;
  font-size: 16px;
}

.nameContainer {
  margin-top: 50px;
  align-items: center;
}

.profilePosts {
  background: #FFFFFF;
  border-radius: 10px;
  width: calc(350px + 10vw);
  min-height: 200px;
  margin: 2vw auto auto;
  margin-left: auto;
  position: relative;
  padding: 20px;
}

.modalContainer {
  padding: 100px;
}