
.profileContainer {
  background: #FFFFFF;
  border-radius: 10px;
  width: 40%;
  min-height: 200px;
  margin: auto;
  margin-top: 8%;
}

.profilePicture {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 400px;
  top: 135px;
}

.profileStatsContainer {
  margin-top: 20px;
}

.profileStatsNumber {
	font-weight: bold;
}

.profileName {
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
}

.profileUserName {
  font-size: 20px
}

.infoContainer {
  margin-left: 20px;

}

.descriptionContainer {
  margin-top: 10px;
  font-size: 16px;
}

.nameContainer {
  margin-top: 50px;
  align-items: center;
}