.settingsContainer {
    margin: 20px 50px 50px;
    
}
.headers {
    margin-top: 20px;
}

.preferencesContainer {
    background-color: white;
}

.settingsInfoContainer {
    margin-bottom: 2px;
}

.settingsButton {
    font-size: smaller !important;
    background: #00AF91 !important;
    border-color: #00947c !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    color: #FFFFFF;
    
}

#deleteButton:hover {
    background: #af1a00 !important;
}