.settingsContainer {
    margin: 20px 50px 50px;
    
}
.headers {
    margin-top: 20px;
}

.preferencesContainer {
    background-color: white;
}

.settingsInfoContainer {
    margin-bottom: 2px;
}

.settingsButton {
    font-size: smaller !important;
}