html {
    height:100%
}

body {
    /*background-color: #1BEE9A;*/
    height: 100%;
}

#welcomeBackground {
    height: 100%;
    min-height: 100vh;
    background: rgb(27,238,154);
    background: linear-gradient(165deg, rgba(27,238,154,1) 48%, rgba(28,218,193,1) 100%);
    display: grid;
    grid-template:
                'title title login'
                'art art art';
    overflow: hidden;
}


#leftSide {
    grid-area: title;
}

#rightSide {
    grid-area: login;
    padding-top: 20vh;
    z-index: 1;
}

@media only screen and (max-width: 800px) {
    #welcomeBackground {
        grid-template:
                'title'
                'login'
                'art';
        grid-template-rows: auto auto 40vmin;
    }
    #rightSide {
        text-align: center;
        padding-top: 5vh;
    }
}

#bottomArt {
    grid-area: art;
    position: relative;
    /*overflow-y: hidden;*/
}

#welcomeText {
    padding-left: 5vw;
    padding-top: 8vmin;
}

.welcomeTitle {
    font-weight: bold;
    font-size: max(60px, 11vmin);
}

.welcomeSubTitle {
    padding-left: 5px;
    font-weight: 500;
    font-size: max(28px, 4vmin);
}

#blob {
    position: absolute;
    bottom: 0;
    left: 0;
    height:40vmin;
    /*z-index: -1;*/
}

#threeCharacters {
    position: absolute;
    bottom: 8vmin;
    left: 50vmin;
    width: 40vmin;
    /*z-index: -1;*/
}


#loginCard {
    display: inline-block;
    background: #FFFFFF;
    border: 5px solid #229631;
    box-sizing: border-box;
    box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin-top: 20vh;*/
    margin-bottom: 10vw;

    align-content: center;
    text-align: center;
}

#loginForm {
    max-width: 400px;
}

.inputBox {
    border: 0px;
    margin: 12px;
    padding: 12px;
    width: 300px;
}

input[type=submit] {
    background: #00AF91;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    padding: 10px;

    color: #FFFFFF;
}

#loginForm input[type=text], input[type=password] {
    background: #F9F9F9;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 20px;
    line-height: 20px;
}

#createAccBtn, #openRegistrationModal {
    background: #31D747;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 0px;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    /*margin-top: 20px;*/

    color: #FFFFFF;
}

#createAccBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.redErrorText {
    color: red;
    white-space: pre-line;
}

.redErrorBorder {
    border: 1px solid red;
}

#registrationModal {
    text-align: center;
}