html {
    height:100%
}

body {
    /*background-color: #1BEE9A;*/
}

#background {
    height: 100%;
    background: rgb(27,238,154);
    background: linear-gradient(165deg, rgba(27,238,154,1) 48%, rgba(28,218,193,1) 100%);
}

#leftSide {
    /*width: 52vw;*/
    display: inline-block;
    float: left;
}
#rightSide {
    text-align: center;
    align-content: center;
    align-items: center;
}

#welcomeText {
    padding-left: 5vw;
    padding-top: 8vmin;
}

.welcomeTitle {
    font-weight: bold;
    font-size: max(60px, 11vmin);
}

.welcomeSubTitle {
    padding-left: 5px;
    font-weight: 500;
    font-size: max(28px, 4vmin);
}

#blob {
    position: fixed;
    bottom: -60vmin;
    left: -20vmin;
    height:100vmin;
    z-index: -2;
}

#threeCharacters {
    position: fixed;
    bottom: 8vmin;
    left: 50vmin;
    width: 40vmin;
    z-index: -1;
}

#loginCard {
    display: inline-block;
    background: #FFFFFF;
    border: 5px solid #229631;
    box-sizing: border-box;
    box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20vh;
    margin-bottom: 10vw;

    align-content: center;
    text-align: center;
}

form {
    width: 400px;
}

input {
    border: 0px;
    margin: 12px;
    padding: 12px;
    width: 300px;
}

input[type=submit] {
    background: #00AF91;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    padding: 10px;

    color: #FFFFFF;
}

input[type=text], input[type=password] {
    background: #F9F9F9;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 20px;
    line-height: 20px;
}

#createAccBtn {
    background: #31D747;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 0px;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;
}
